<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Brainvire_Report::customerreport" module="Brainvire_Report" resource="Magento_Backend::content" sortOrder="9999" title="Brainvire"/>
		<add action="customerreport/index/index" id="Brainvire_Report::customerreport_view" module="Brainvire_Report" parent="Brainvire_Report::customerreport" resource="Magento_Backend::content" sortOrder="9999" title="Customer Error Report"/>
		<add action="adminhtml/system_config/edit/section/error_report" id="Brainvire_Report::customerreport_config" module="Brainvire_Report" parent="Brainvire_Report::customerreport" resource="Magento_Backend::content" sortOrder="10000" title="Report Configuration"/>
	</menu>
</config>
