<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Brainvire_SalesReps::SalesReps" sortOrder="10" title="SalesReps">
					<resource id="Brainvire_SalesReps::SalesReps_save" sortOrder="10" title="Save SalesReps"/>
					<resource id="Brainvire_SalesReps::SalesReps_delete" sortOrder="20" title="Delete SalesReps"/>
					<resource id="Brainvire_SalesReps::SalesReps_update" sortOrder="30" title="Update SalesReps"/>
					<resource id="Brainvire_SalesReps::SalesReps_view" sortOrder="40" title="View SalesReps"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
